@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');

body{
    /* background-image: url("space2.jpg"); */
    background-color: black;
    font-family: 'Urbanist', sans-serif;
}
.container{
    position: relative;
    max-width: 980px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 15px #2b384e;
    /* box-shadow: 0px 0px 30px 8px #698E8E; */
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.rows{
    display: flex;
}

.cells{
    background-color: #008080;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
}

.cells:hover{
    background-color: #1f3e5a;
    /* background-color: rgb(201, 100, 100); */
}

.p1{
    background-color: red;
    position: relative;
}
.p1::after{
    content: "X";
    text-align: center;
    font-size: 80px;
    position: absolute;
    margin: 8% 23%;
}

.p2{
    background-color: blue;
    position: relative;
}
.p2::after{
    color: yellow;
    content: 'O';
    font-size: 80px;
    position: absolute;
    margin: 8% 23%;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 50px;
    background-color: #1c253c;
}
.controlButton{
    background-color: #d447b6(255, 120, 120);
    color: black;
    width: 130px;
    height: 40px;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 10px 10px 8px rgb(36, 27, 27);
    transition: 0.3s;
}
.controlButton:hover{
    background-color: rgb(201, 100, 100);
    color: white;
}

.controlButton:active{
    background-color: rgb(131, 9, 9);
    color: white;
}

.controlButton span{
    font-size: medium;
    cursor: pointer;
    position: relative;
    transition: padding 0.5s;
}
.controlButton span::after{
    content: '\00AB';
    color: yellow;
    opacity: 0;
    right: -15px;
    position: absolute;
    transition: 0.3s;
}
.controlButton:hover span{
    padding-right: 10px;
}
.controlButton:active span{
    font-size: small;
}
.controlButton:hover span::after{
    opacity: 1;
}
.disabled{
    pointer-events: none;
}

.text{
    position: relative;
    font-weight: bold;
    font-size: larger;
    user-select: none;
    background-color: rgb(12, 12, 12);
    width: auto;
    height: auto;
    min-height: 30px;
    padding: 10px;
    border: none;
    border-radius: 20px 20px 0 0;
}
.text #welcome{
    color: yellow;
    margin-top: 5px;
    text-align: center;
}
.text .name{
    color: yellow;
}
.text .score{
    color: red;
}
#span{
    max-width: 100%;
    text-align: center;
}
#newGameButton{
    margin-left: 70px;
    margin-top: 5px;
}

.rightSide{
    display: flex;
    justify-content: flex-start;
}

#reset{
    box-shadow: 10px 10px 8px rgb(36, 27, 27);
    margin: 15px 10px;
}


#rulesAndMore{
    position: absolute;
    background-color: rgba(20,80,81, 0.8);
    opacity: 1;
    width: 200px;
    height: auto;
    margin: -50px 50px 50px 50px;
    padding-top: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px -5px 20px 5px;
    border: none;
    animation: 1s ease-in 0s 1 slideInLeft;
   
}
@keyframes slideInLeft {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
#rulesAndMore span{
    color: white;
    user-select: none;
    margin-bottom: 0px;
    font-weight: bold;
}
#inputs{
    margin: 5px 10px 10px 10px;
}
#p1Input, #p2Input{
    font-style: oblique;
    margin-bottom: 4px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    height: 20px;
}
.smallButton{
    width: 50%;
    height: 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.smallButton:hover{
    background-color: rgb(201,100,100);
    color: white;
}
.smallButton:active{
    background-color: rgb(131,9,9);
}
#resultDiv{
    user-select: none;
    text-align: justify;
    margin: 4px 5px;
}
#resultP{
    color:white;
    border-bottom: 2px solid;
    padding-bottom: 2px;
    margin: 0 0 10px 0;
}

.hide{
    display: none;
}
/******************************** slider part //////////////////////////////////////////////////////*/
#x, #o{
    background-color: white;
    align-self: flex-start;
    margin: 18px 0px 20px 0px;
    padding: 5px 8px 3px 8px;
    font-size: 25px;
    font-weight: bold;
    color: #4B3C3C;
    border-radius: 8px;
    box-shadow: 10px 10px 8px rgb(36, 27, 27);
    position: relative;
    user-select: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 20px 5px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
    box-shadow: 6px 10px 8px rgb(36, 27, 27);
  }
  
  .slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #4B3C3C;
    transition: .4s;
  }
  
 /*  input:checked + .slider {
    background-color: rgb(201, 100, 100);
  }  */
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  input:checked [target="x"] {
    background-color: #473d3d;
    color: white;
  }

/*/////////////////>>>>>>>>>>>  INTRO PAGE BELOW<<<<<<<<<///////////////*/
